*{
    box-sizing: border-box;
}
.maincontainer{
    display: flex;
    background-color: black;
    color: white;
}
.main1{
    padding: 8px;
    margin:0px 0px 0px 130px;
}
.main2{
    padding: 8px;
}
.phone{
    padding: 8px;
    margin: 0px 0px 0px 300px;
}
.email{
    padding: 8px;
}
.container2{
  display: flex;
}
.chip {
    display: flex;
    width: 20%;
    margin: 0px 0px 0px 130px;
}
.chip img{
    width: 30%;
}
.menu{
    padding: 5px;
    line-height: 50px;
    margin: 0px 0px 0px 67.5px;
}
.container3{
     margin: 10px 0px 30px 0px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url("black.jpeg");
    justify-content: center;
    padding: 100px 0;
    background-size: cover;
    background-position: center;  
}
.heading1,.heading2,.heading3{
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    text-align: center;
}
.heading1,.heading2{
    text-align: center;
    margin:0px 25px 0px 0px;
    background-color: #d3d3d38c;
}
.heading3{
    background-color: white;
    text-align: center;
    margin: 0px 0px 0px 3px;
}
.heading1 h2 ,.heading2 h2 ,.heading3 h2{
    margin: 0;
    padding: 20px;
    text-transform:uppercase ;
}
.heading1 h2 ,.heading2 h2{
    background-color: #d3d3d38c;
    padding: 20px;
}
.heading3 h2{
    padding: 20px;
}
.heading1 p ,.heading2 p{
    background-color: #d3d3d3b0;
    color: rgba(0, 0, 0, 0.619);
    line-height: 25px;
    margin: 0px;
    padding: 60px;
}
.heading3 p{
    padding: 50px;
    line-height: 25px;
    margin: 0px;
}
.button1{
    background-color: rgba(153, 205, 50, 0.669);
    color: white;
    padding: 20px;
    margin: 0px;
    width: 100%;
}
.button2{
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.container4{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    margin: 0px 0px 0px 0px;

}
.leftside,.rightside{
    width: 50%; 
}
.leftside h2{
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    margin: 0px 0px 0px 55px;
}
.rightside h2{
    padding: 30px;
    text-transform: uppercase;
    margin: 0px 30px 0px 20px;
}
.moneyimage{
    width: 80%;
    height: 590px;
    border: 1px solid white;
    background:url("moneymarket.jpg");
    background-size: cover;
    margin: 15px 0px 20px 130px;
}
.subject{
    border: 1px solid rgba(0, 0, 0,0.5);
    margin: 410px 0 0 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 25px;
}
.subject h3{
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
}
.subject p{
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px;
}
.button3{
    border: 2px solid green; 
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 13px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 0px 0px 5px 0px;
}
.section1{
    display: flex;
}
.sec1{
    width: 30%;
    margin: 15px 15px 5px 40px;
    background-image: url("stockmarket.webp");
    background-position: center;
    background-size: cover;
    height: 150px;
}
.sec2{
    width: 70%;
}
.sec2 h3{
    text-transform: uppercase;
}
.sec2 h5{
    text-transform: capitalize;
}
.sec2 p{
    padding: 0px;
    font-size: 15px;
}
.highlight{
    background-color: #d3d3d3;
    padding-top: 30px;
}

.highlight p{
    text-align: center;
    margin: 0px;
    font-size: 15px;
}
.highlight h2{
    text-align: center;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}
.container5{
    background-color: #d3d3d3;
    width: 100%;
    display: flex;
    padding:50px 80px 40px 80px;
}
.lastbox1{
   width: 50%;
   display: flex;
   padding: 0px 0px 0px 0px;
}
.lastbox2{
    display: flex;
    width: 50%;
    margin: 0px 0px 0px 0px;
}
.lastimg{
    background-image: url("lastimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:10px;
    width: 30%;
    margin: 0px 0px 0px 50px;
    border: 2px solid black;
   
}
.contentin{
    width: 52%;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    margin: 0px 0px 0px 0px;
}
.contentin h3{
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
}
.lastimg2{
    background-image: url("lastimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:10px;
    width: 30%;
    margin: 0px 0px 0px 50px;
    border: 2px solid black;
   
}
.contentin2{
    width: 52%;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    margin: 0px 0px 0px 0px;
}
.contentin2 h3{
    line-height: 20px;
    font-size: 15px;
    padding: 10px;
}
.endingcontent{
    display: flex;
}
.para1{
    width:50%;
    background-color: rgba(0, 0, 0, 0.817);
    color: rgba(255, 255, 255, 0.687);
    padding: 0px 0px 10px 130px;
}
.para2{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.817);
    color: green;
    padding: 0px 70px 10px 0px;
}
.para3{
    width:25%;
    background-color: rgba(0, 0, 0, 0.817);
    padding: 0px 130px 10px 0px;
}
.para2,.para3 h3{
    color: rgba(255, 255, 255, 0.689);
}
.para2 p{
    padding: 0px 0px 0px 0px;
    color: yellowgreen;
}
.para3 button{
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
    background-color: yellowgreen;
    color: white;
    border: 2px solid black;
}
.para3 input{
    background-color: black;
    color: white;
    padding: 5px;
    border: 5px solid black;
}
.fonts{
    background-color: black;
    color: white;
    word-spacing: 5px;
    padding: 5px;
    border: 2px solid black;
    margin-top: 60px;
}
.over{
    background-color: black;
    color: rgba(255, 255, 255, 0.824);
    padding: 5px 0px 5px 130px;
}
@media (max-width:576px) {
    .main1{
        padding: 8px;
        margin:0px 0px 0px 0px;
    }
    .phone{
        padding: 8px;
        margin: 0px 0px 0px 30px;
    }
    .email{
        padding: 8px;
    }
    .chip {
        display: flex;
        width: 20%;
        margin: 0px 0px 0px 0px;
    }
    .chip img{
        width: 50%;
        margin: 0px 0px 0px 20px;
    }
    .menu{
        padding: 5px;
        line-height: 30px;
        margin: 0px 0px 0px 8px;
    }
    .container3{
        display: flex;
        flex-direction: column;
    }
    .heading1{
        margin:0px 0px 0px 0px;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .heading2{
        margin:0px 0px 0px 0px;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .heading3{
        margin:0px 40px 0px 0px;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container4{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .moneyimage{
        width: 200%;
        height: 500px;
        border: 1px solid white;
        background:url("moneymarket.jpg");
        background-size: cover;
        margin: 15px 0px 20px 0px;
    }
    .subject{
        border: 1px solid rgba(0, 0, 0,0.5);
        margin: 325px 0 0 0;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 25px;
    }
    .subject h3{
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px 0px 0px 0px;
    }
    .subject p{
        font-size: 15px;
        text-transform: capitalize;
        padding: 5px;
    }
    .button3{
        border: 2px solid green; 
        color: white;
        background-color: black;
        padding: 5px;
        font-size: 13px;
        padding: 5px 0px 5px 0px;
        margin-bottom: 0px 0px 5px 0px;
    }
    .rightside{
        display: flex;
        flex-direction: column;
    }
    .section1{
        width: 200%;
    }
    .leftside h2,.rightside h2{
        padding: 5px 0px 0px 0px;
        text-align: center;
        margin: 0px;
        width: 200%;
    }
    .highlight{
        margin-top: 20pxx;
    }
    .container5{
        display: flex;
        flex-direction: column;
        width: 200%;
    }
    .lastimg{
        width: 200px;
        margin: 0px;
    }
    .contentin{
        width: 100%;
        margin-right: 70px;
    }
    .lastbox1{
        margin: 0px;
        padding: 0px;
    }
    .lastimg2{
        width: 200px;
        margin: 0px;
    }
    .contentin2{
        width: 100%;
        margin-right: 70px;
    }
    .lastbox2{
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }
    .endingcontent{
        display: flex;
        flex-direction: column;
    }
    .para1,.para2,.para3{
        margin: 0px;
        padding: 0px 0px 0px 50px;
        width: 200%;
    }
    .fonts{
        margin: 0px 0px 5px 0px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.667);
    }
}